#card {
    width: 250px;
    height: 315px;
    margin: 20px 10px;
    text-align: center;
}

#img {
    width: 56%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

#p {
    font-size: 17px;
}

#exploreBtn {
    color: white;
    border-radius: 0;
    margin: auto;
    width: 60%;
    display: block;
    margin-top: -10px;
}

@media only screen and (max-width: 768px) {
    #card {
        width: 300px;
    }

    #img {
        width: 47%;
    }
}