.home {
    display: table;
    content: "";
    clear: both;
    background-color: #0E092B;
    padding: 25px 0px;
}

.teams-container {
    width: 81%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .home {
        display: block;
    }

    .teams-container {
        width: 89%;
    }
}